<%= form_with(model: trip, local: true, :html =>{:multipart => true}) do |form| %>
    <div class="field form-group has-feedback" style="font-size:20px;">
        <i class="form-control-feedback glyphicon glyphicon-star" aria-hidden="true"></i>
        <%= form.label :from%>
        <%= form.text_field :from, id: :trip_from %>
    </div>

    <div class="field form-group has-feedback" style="font-size:20px;">
        <i class="form-control-feedback glyphicon glyphicon-star" aria-hidden="true"></i>
        <%= form.label :where %>
        <%= form.text_field :where, id: :trip_where %>
    </div>

    <div class="field form-group has-feedback" style="font-size:20px;">
        <%= form.label :start_date %>
        <%= form.text_field :start_date, id: :trip_start_date, class: 'fecha' %>
    </div>

    <div class="field form-group has-feedback" style="font-size:20px;">
        <%= form.label :final_date %>
        <%= form.text_field :final_date, id: :trip_final_date, class: 'fecha' %>
    </div>

    <div class="actions">
        <%= form.submit "Submit!", :class => 'btn btn-info btn-block btn-lg' %>
    </div>
<% end %>

