<% if logged_in? %>
    <div style="background-color:rgba(0,0,0,0);">
        <div class="container" style="background-color:#ffffff;">
            <div class="row">
                <div class="col-lg-6 col-md-5" id="trips" style="background-color:#ffffff;">
                    <div class="row">
                        <div class="col-md-12" style="width:400px;">
                         <h1 class="text-center">My trips</h1>
                         <hr>
                         <div>
                            <div class="tab-content">
                                <div class="tab-pane active" role="tabpanel" id="tab-1">
                                    <ul class="thread-list" id="trip-list">
                                       <% (current_user.trips).each_with_index do |trip, index| %>
                                       <li id='trip<%= Integer(index)+1%>' class="thread" style="color:rgb(0,0,0);">
                                        <span class="time"><%= trip.created_at.strftime("%b %d")%></span><span class="title" style="color:rgb(180,100,10);"><%= trip.from%> - <%= trip.where%></span>
                                        <%= link_to 'Show', trip %>
                                        <%= link_to 'Edit', edit_trip_path(trip) %>
                                    </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="width:450px;">
            <h1 class="text-center">Add a trip</h1>
            <hr>
              <%= render "new" %>
                    </div>
                </div>
            </div>
        </div>
        <% else %>
        <table>
          <thead>
            <tr>
              <th>From</th>
              <th>Where</th>
              <th>Start date</th>
              <th>Final date</th>
              <th colspan="3"></th>
          </tr>
      </thead>

      <tbody>
        <% @trips.recent.each do |trip| %>
        <tr>
         <td><%= trip.from %></td>
         <td><%= trip.where %></td>
         <td><%= trip.start_date %></td>
         <td><%= trip.final_date %></td>
         <td><%= link_to 'Show', trip %></td>
     </tr>
     <% end %>
 </tbody>
</table>
<% end %>

