<div class='container'>
	<%= render  @trip %>
</div>
    <div class="container" id="posts" style="background-color:#ffffff;">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <h1 class="text-center">Posts </h1></div>
	            <div class="col-lg-12 col-md-12">
	                <div>
	                    <%= render @trip.posts %>
						<% if @trip.owned_by? current_user %>
							<%= render file:'posts/new' %> 
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="container" id="comments" style="background-color:#ffffff;">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <h1 class="text-center">Comments </h1></div>
	            <div class="col-lg-12 col-md-12">
	                <div>
	                    <%= render @trip.comments %>
	                    <% if logged_in? %>
							<%= render file:'comments/new' unless @trip.owned_by? current_user %> 
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
<% if @trip.owned_by? current_user %>
	<%= link_to 'Edit', edit_trip_path(@trip) %> |
<% end %>

