<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @trip.from %>
</p>

<p>
  <strong>Where:</strong>
  <%= @trip.where %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @trip.start_date %>
</p>

<p>
  <strong>Final date:</strong>
  <%= @trip.final_date %>
</p>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
