<%= render  @trip %> 

<h3> POSTS </h3>
<div  id="posts">
  <%= render @trip.posts %> 
</div>

<% if @trip.owned_by? current_user %>
	<%= render file:'posts/new' %> 
<% end %>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>

