<!DOCTYPE html>
<html>
<head>
    <title>DawProject3</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css', media: 'all' %>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', media: 'all' %>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css', media: 'all' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Acme', media: 'all' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Signika', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <%= render "layouts/header"%>
    <%= yield %>
    <%= render "layouts/footer"%>
</body>
</html>
